<!-- Main Navigation -->
<div *ngIf="!isMobile" 
[ngClass]="{
  'bg-transparent': isAtTop,
  'bg-gradient-to-b from-black via-black to-white/5': !isAtTop
  }"
 class="text-gray-300 items-center flex shadow-2xl h-[8vh] transition-colors duration-500 px-10">
    <img src="Giiflix.png" class="h-[90px] w-[100px] mx-5">
    <a routerLink="/home" class="m-2 hover:text-gray-400" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/projects" class="m-4 hover:text-gray-400" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
    <a routerLink="/contacts" class="m-4 hover:text-gray-400" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }">Contacts</a>
    <a href="https://luisegianyambao.jobs180.com" class="hover:text-gray-400 m-2">About Me</a>
</div>

  
  <div *ngIf="isMobile">
    <!-- Mobile Navigation Dropdown Button -->
    <button (click)="toggleMenu()" class="flex fixed top-4 right-4 bg-red-900 border-1 shadow-[inset_0_4px_20px_rgba(0,0,0,0.6)] border-black text-white px-3 py-2 rounded-full">
        <i class="material-icons">menu</i>
    </button>
  
    <!-- Dropdown Menu -->
    <div *ngIf="isMenuOpen" class="fixed top-16 right-4 bg-black/90 text-black px-10 py-2 rounded-lg shadow-lg text-gray-300">
      <a routerLink="/home" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }" class="block text-center py-2">Home</a>
      <a routerLink="/projects" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }" class="block text-center py-2">Projects</a>
      <a routerLink="/contacts" routerLinkActive="text-gray-50" [routerLinkActiveOptions]="{ exact: true }" class="block text-center py-2">Contacts</a>
      <a href="https://luisegianyambao.jobs180.com" class="hover:text-gray-50">About Me</a>

    </div>
  </div>
  